@import "./Variables.scss";

* {
  box-sizing: border-box;
}

* ::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}

/* Track */
* ::-webkit-scrollbar-track {
  margin: 10px;
  box-shadow: inset 0 0 5px #ccc;
  border-radius: 10px;
}

/* Handle */
* ::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* Handle on hover */
* ::-webkit-scrollbar-thumb:hover {
  background: #999;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-40 {
  width: 40%;
}
.w-70 {
  width: 70%;
}
.w-60 {
  width: 60%;
}
.w-5 {
  width: 5%;
}
.w-25 {
  width: 25%;
}
.w-20 {
  width: 20%;
}
.w-90 {
  width: 90%;
}
.pt-0 {
  padding-top: 0px !important;
}
.pt-2 {
  padding-top: 16px !important;
}
.p {
  padding: 4px;
}
.px {
  padding-left: 4px;
  padding-right: 4px;
}
.py {
  padding-top: 4px;
  padding-bottom: 4px;
}
.p-1 {
  padding: 8px;
}
.px-1 {
  padding-left: 8px;
  padding-right: 8px;
}
.ps-1 {
  padding-inline-start: 8px;
}
.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.p-2 {
  padding: 16px;
}
.pb-1 {
  padding-bottom: 8px;
}
.pb-2 {
  padding-bottom: 16px;
}
.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}
.ps-2 {
  padding-inline-start: 16px;
}
.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.p-3 {
  padding: 24px;
}
.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}
.py-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.p-4 {
  padding: 32px;
}
.px-4 {
  padding-left: 32px;
  padding-right: 32px;
}
.py-4 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.p-5 {
  padding: 40px;
}
.px-5 {
  padding-left: 40px;
  padding-right: 40px;
}
.py-5 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.ms {
  margin-inline-start: 4px;
}
.ms-1 {
  margin-inline-start: 8px;
}
.ms-2 {
  margin-inline-start: 20px;
}
.ms-3 {
  margin-inline-start: 24px;
}
.m-0 {
  margin: 0px;
}
.fz-20 {
  font-size: 24px;
}
.fz-16 {
  font-size: 16px;
}
.fz-14 {
  font-size: 14px;
}
.fz-12 {
  font-size: 12px;
}
.fz-10 {
  font-size: 10px;
}
.font-white {
  color: #fff !important;
}
.font-lightGray {
  color: #a7a9ac !important;
}
.font-lightGray2 {
  color: #f5f5f5 !important;
}
.font-gray {
  color: #575756 !important;
}
.font-secondary {
  color: $secondary !important;
}
.font-primary {
  color: $primary !important;
}
.font-red {
  color: #f11133 !important;
}
.link {
  text-decoration: none;
  color: #000;
}
.text-underline {
  text-decoration: underline;
}
.line-through {
  text-decoration: line-through;
}
.weight-medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.align-start {
  align-items: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-black {
  background-color: #000;
}
.bg-lightGray {
  background-color: #d9d9d9;
}
.bg-lightGray2 {
  background-color: #f5f5f5;
}
.bg-darkGray {
  background-color: #3c3c3b;
}
.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.border {
  border: 1px solid #d9d9d9;
}
.border-radius-3 {
  border-radius: 3px;
}
.border-radius-5 {
  border-radius: 5px;
}
.br-20 {
  border-radius: 20px;
}
.border-b {
  border-bottom: 1px solid #868686;
}
.border-end {
  border-inline-end: 1px solid #868686;
}
.border-b-lightGray {
  border-bottom: 1px solid #d9d9d9;
}
.relative {
  position: relative;
}
.darkShadow {
  box-shadow: 0px 0.73px 2px #00000080;
}
.lightShadow {
  box-shadow: 0px 0.87px 2px #00000040;
}
.cart-count {
  position: absolute;
  top: 0;
  right: -10px;
  background-color: $primary;
  border-radius: 50%;
  // width: 20px;
  padding: 5px;
  height: 20px;
  color: #3c3c3b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
}
.left-inner-addon {
  position: relative;
}
.left-inner-addon input {
  padding-left: 30px !important;
}
.left-inner-addon img {
  position: absolute;
  top: 25%;
  left: 4%;
  pointer-events: none;
}
.form-control {
  height: 30px;
  width: 300px;
  border-radius: 30px;
  border: 1px solid #d8d8d8 !important;
}
.form-control::-webkit-input-placeholder {
  /* Edge */
  color: #000;
  font-size: 12px;
  font-weight: 600;
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
  font-size: 12px;
  font-weight: 600;
}

.form-control::placeholder {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}
.selected-size {
  background-color: #d9d9d9;
  color: #1d1d1b !important;
}
.selected-image {
  border: 1px solid $secondary;
  border-radius: 50%;
}
.circle-50 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.circle-25 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.icon-360 {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  background-color: #fff;
}
.scroll-x-secondary {
  // width: calc(70vw - 20px);
  overflow-x: scroll;
}
.scroll-x-secondary::-moz-scrollbar {
  width: 7px;
  height: 7px;
  cursor: pointer;
}

.scroll-x-secondary::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  cursor: pointer;
}

/* Track */
.scroll-x-secondary::-webkit-scrollbar-track {
  margin: 10px;
  box-shadow: inset 0 0 5px #ccc;
  border-radius: 10px;
  background-color: #ccc;
  width: 5px;
  height: 5px;
  border: 1px solid #fff;
}

/* Handle */
.scroll-x-secondary::-webkit-scrollbar-thumb {
  background: $secondary;
  border-radius: 10px;
  cursor: pointer;
}
